.flex {
  display: flex;
  &.direction-column {
    flex-direction: column;
  }
  &.m-col {
    flex-direction: column;
    @media (min-width: $breakpoint-sm-min) {
      flex-direction: row;
    }
  }
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify {
  &-between {
    justify-content: space-between;
  }
  &-around {
    justify-content: space-around;
  }
  &-start {
    justify-content: flex-start;
  }
  &-end {
    justify-content: flex-end;
  }
  &-center {
    justify-content: center;
  }
}

.items {
  &-center {
    align-items: center;
  }
  &-start {
    align-items: flex-start;
  }
  &-end {
    align-items: flex-end;
  }
  &-baseline {
    align-items: baseline;
  }
}

.self {
  &-center {
    margin: auto;
  }
  &-start {
    align-self: flex-start;
  }
  &-end {
    align-self: flex-end;
  }
}
