@mixin row ($padding: 15px) {
  display: flex;
  flex-direction: row;
  align-content: stretch;
  margin: 0 (-$padding);
}

@mixin col ($padding: 15px) {
  padding: 0 $padding;
}

@mixin col-width ($bp) {
  @for $i from 1 through ($col-count) {
    .col-#{$bp}-#{$i} {
      flex: 0 1 auto;
      width: $i*100%/$col-count;
    }
  }
}

@mixin col-offset ($bp) {
  @for $i from 1 through ($col-count) {
    .col-#{$bp}-offset-#{$i} {
      margin-left: $i*100%/$col-count;
    }
  }
}
