.btn {
  padding: 0 12px;
  line-height: 40px;
  background-color: $green;
  color: #fff;
  border-radius: 3px;
  transition: background-color .3s ease-in-out;
  &.btn-wide {
    width: 100%;
  }
  &:hover {
    background-color: $dark-green;
  }
}

